.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem; */
    background-color: rgb(250, 246, 238);
  }
  
  .goToGoalButton:hover {
    background-color: #876bf4;
    transform: translateY(-2px);
  }
  
  .colorPicker {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .colorButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .colorButton:hover {
    transform: scale(1.1);
  }
  
  .colorButton.active {
    border-color: #000;
  }
  
  .GREEN {
    background-color: #9fffaa;
  }
  
  .YELLOW {
    background-color: #FFFF9F;
  }
  
  .RED {
    background-color: #ffbc9f;
  }
  
  .amuletContainer {
    width: 360px;
    height: 480px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .amuletImage {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .textInput {
    width: 100%;
    background: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    text-align: center;
    resize: none;
    outline: none;
    font-family: inherit;
  }
  
  .textInput::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .buttonGroup {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .downloadButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: #876bf4;
    color: white;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    transition: all 0.2s;
  }
  
  .downloadButton:hover {
    background-color: #4d29df;
    transform: translateY(-2px);
  }
  
  .shareButtons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 3rem; */
  }
  
  .shareButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: #e5e7eb;
    color: #374151;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    transition: all 0.2s;
  }
  
  .shareButton:hover {
    background-color: #b1b1b1;
    transform: translateY(-2px);
  }
  
  .shareIcon {
    width: 20px;
    height: 20px;
  }

  @media (max-width: 510px) {
    .colorPicker {
      display: flex;
      /* gap: 1rem; */
      margin-bottom: 1rem;
    }
  }
  
  @media (max-width: 400px) {
    .buttonGroup, .shareButtons {
      flex-direction: row;
      width: 100%;
    }
   
  
    .downloadButton, .shareButton {
      /* padding: 0.5rem 0.75rem; */
      /* font-size: 0.75rem; */
      /* flex: 0 1 auto; */
    }
  
    .shareIcon {
      width: 16px;
      height: 16px;
    }
  
    .shareButton span {
      display: none; /* 기존 텍스트를 숨김 */
      margin-bottom: 0;
    }
    .shareButton span::before {
      content: "공유";
       visibility: visible; /*새 텍스트를 표시 */
    }
    .downloadButton span::before {
      /* content: "공유하기"; */
      /* display: none; */
    }
  }
  
  /* @font-face {
    font-family: 'amulet_content';
    src: url('/fonts/amulet_content.ttf?v=1') format('truetype');
  }

  @font-face {
    font-family: 'amulet_content2';
    src: url('/fonts/HakgyoansimKkokkomaR.ttf?v=1') format('truetype');
  }
  /* 두껍고 사인팬 느낌? */
  /*@font-face {
    font-family: 'amulet_content3';
    src: url('/fonts/KyoboHandwriting2019.otf?v=1') format('truetype');
  }
  @font-face {
    font-family: 'amulet_content4';
    src: url('/fonts/YoonChildfundkoreaDaeHan.otf?v=1') format('truetype');
  } */
  
  .amuletText {
    font-family: 'amulet_content2', sans-serif;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    word-break: break-word;
    color: black;
    font-size: 2rem;
  }
  .amuletTitle {
    top: 10%;
    font-family: 'amulet_content4', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: none; */
    text-align: center;
    width: 80%;
    word-break: break-word;
    font-size: 2.5rem;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  }