.amuletContainer {
    width: 360px;
    min-height: 480px; /* 최소 높이 설정 */
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease; /* 높이 변경 애니메이션 */
  }
  
  /* 이미지 wrapper로 크기 제어 */
  .imageWrapper {
    width: 360px;
    height: 320px;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 이미지가 wrapper 크기를 넘지 않도록 설정 */
  .amuletImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
   /* 바로 위 이미지 아래에 위치할 순 없는지 물어보기. */
  .amuletText {
    font-family: 'amulet_content2', sans-serif;
    position: relative;
    width: 80%;
    text-align: center;
    color: black;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    margin-top: 40px;
    white-space: pre-wrap; /* 줄바꿈 유지 */
    word-break: break-word; /* 긴 단어 줄바꿈 */
    overflow: hidden; /* 스크롤바 제거 */
  }

  .amuletText.largeFont {
    margin-top: 90%;
    font-size: 2.5rem;
  }
  
  .amuletText.smallFont {
    margin-top: 95%;
    font-size: 1.8rem;
  }
  
  .amuletTitle {
    top: 40px;
    font-family: 'amulet_content4', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    word-break: break-word;
    font-size: 2.5rem;
    font-weight: bold;
    
  }
  
  .warningMessage {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff6b6b;
    font-size: 0.8rem;
    opacity: 0;
    font-family: 'amulet_content4', sans-serif;
    transition: opacity 0.3s;
  }
  
  .warningMessage.visible {
    opacity: 1;
  }