.container {
  min-height: 100vh;
  background-color: #f9fafb;
}

.wrapper {
  max-width: 56rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  color: #111827;
  /* margin-bottom: 2rem; */
}

.questionList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.description {
  color: #666;
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
} 

.goToAmuletButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.15rem;
  font-size: 0.875rem;
  color: gray;
  border-radius: 0.25rem;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  background: transparent;
  border: none;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}


.goToAmuletButton span::selection {
  color: yellowgreen; /* 드래그(선택) 시 텍스트 색상 */
  /* background-color: transparent; 선택된 영역 배경 없음 */
}

.goToAmuletButton:hover {
  color: yellowgreen;
  background-image: url('/decorative-10389_256.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loadingContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
}

.loadingContent {
  text-align: center;
}

.loadingSpinner {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: spin 2s linear infinite;
}

.loadingContent p {
  color: #4b5563;
  font-size: 1.1rem;
  font-weight: 500;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}